.table-log-out {
    height: 45px;
    display: flex;
    align-items: self-end;
}

tbody>tr {
    font-size: 14px;
    color: rgb(139 137 153);
}

tr>td {
    padding: 0.5rem 0;
}

.date-quotes {
    text-align: -webkit-right;
}